:root {
  --main-color: #eb5915;
  --second-color: #1a49e2;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(var(--main-color), var(--second-color));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrap {
  margin-top: 70px;
  padding-bottom: 0px;
  width: 300px;
}

.card1 {
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin: 0px;
}
hr{
    padding: 0px;
    margin: 0px;
}

.card2{
    background-color: white;
    padding: 5px;
    margin: 0px;
    transition: 0.6s;
    visibility: hidden;
    transform: rotateX(180deg);
    transform-origin: 0% 0%;
}

.wrap:hover .card2{
    visibility: visible;
    transform: rotateX(0deg);
}